@import 'tailwindcss';
/* needed for the rich text editor */
@import './rich-text-editor-styles/_variables.scss';
@import './rich-text-editor-styles/_keyframe-animations.scss';

@plugin 'tailwind-scrollbar';

@theme {
  /* fonts */
  --font-primary: var(--font-koho);
  --font-secondary: var(--font-jaro);
  --font-roboto: var(--font-roboto);

  /* brand colours */
  --color-brand-green: #80c001;
  --color-brand-green-lite: #a6d34d;
  --color-brand-green-extralite: #c7e58b;
  --color-brand-yellow: #ffb300;
  --color-brand-yellow-lite: #fff5d8;
  --color-brand-yellow-extralite: #fffdf3;
  --color-brand-navy: #08349e;
  --color-brand-peach: #ffdcbe;
  --color-brand-peach-lite: #ffdcbe; /*#ffedde*/
  --color-brand-aqua: #56e4be;
  --color-brand-aqua-lite: #dffbf8;
  --color-brand-blue: #abdef5;
  --color-brand-blue-lite: #dff2fb;
  --color-brand-grey: #757575;
  --color-brand-grey-lite: #d9d9d9;
  --color-brand-google: #4889f5;
  --color-brand-red: #d80303;
}

@theme {
  --breakpoint-3xl: 120rem;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  body {
    font-size: 1rem;
  }

  /* text input field */
  input,
  textarea {
    @apply appearance-none border bg-white border-brand-blue rounded-full px-4 pt-2 mt-2 text-sm focus:outline-none focus:ring-1 focus:ring-brand-aqua;
  }

  input {
    @apply pb-2 mb-2;
  }

  input::placeholder {
    @apply text-brand-grey;
  }

  h2,
  h3,
  h4,
  h5,
  p,
  a {
    @apply font-primary;
  }

  h1 {
    @apply font-secondary text-5xl;
  }

  h2 {
    @apply uppercase text-xl font-semibold;
  }

  h3 {
    @apply font-semibold my-1 text-base;
  }

  h4 {
    @apply text-sm font-medium;
  }

  h5 {
    @apply text-sm font-normal;
  }

  a {
    @apply text-brand-navy;
  }

  p {
    @apply text-base;
  }
}

@layer utilities {
  .icon-2xl {
    font-size: 2rem;
    /*@apply text-brand-navy;*/
  }
  .icon-xl {
    font-size: 1.5rem;
    /*@apply text-brand-navy;*/
  }

  .icon-lg {
    font-size: 1.25rem;
    /*@apply text-brand-navy;*/
  }

  .icon-md {
    font-size: 1rem;
  }

  .icon-sm {
    font-size: 0.75rem;
  }

  /*** left/right margins for main content on most pages ***/
  .main-side-padding {
    @apply 3xl:px-60 2xl:px-20 xl:px-20 lg:px-10 md:px-5;
  }

  .class-font-roboto {
    @apply font-roboto;
  }

  .open-hours-style {
    @apply flex flex-row justify-between py-1 px-6;
  }

  .open-hours-selected {
    @apply bg-brand-aqua-lite rounded-full font-semibold;
  }

  .instagram-media {
    border: 2px solid !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }

  /*
  .instagram-media:hover {
    border: 2px solid #ffdcbe !important;
  } */

  /* For Chrome, Safari, and Edge */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
  }

  .custom-checkbox {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 3px;
    @apply border border-brand-navy shadow-inner bg-white flex justify-center items-center;
  }

  .custom-checkmark {
    @apply w-4 h-4 bg-brand-yellow rounded-full;
  }

  .priceTab {
    @apply font-primary py-1 px-3 rounded-full min-w-18 hover:bg-brand-yellow cursor-pointer;
  }
}

/*AUTH CSS (NICOLE ADDED) all tailwind css*/
/* MAYBE I CAN CHANGE IT TO @THEME AUTH INSTEAD */
/*
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}
*/
